@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #edba14;
  --foreground: #0c047d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #6a0206;
    --foreground: #f7f8f9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
